<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="../assets/home/style.css">
  <link rel="stylesheet" type="text/css" href="../assets/home/fonts/stylesheet.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <title>Releaf Club</title>
</head>

<body>


  <section class="banner" style="background-image: url(../assets/home/banner.jpg);">

    <div class="container">
      <div class="row justify-content-center">
        <div class="banner-img">
          <h3>WELCOME TO THE </h3>
          <img src="../assets/home/logo.png" data-aos="zoom-out-up" data-aos-duration="3000">
          <a href="https://shop.releafclub.com/#/">ORDER NOW</a>
        </div>
      </div>
    </div>

  </section>

  <section class="sect-two-in">

    <div class="container">
      <div class="row">

        <h1>Locally owned and operated with a commitment to excellence</h1>
        <p>and a wide variety of products to choose from, we’re sure you’ll find items to satisfy your Releaf.</p>
      </div>
    </div>

  </section>



  <section class="sect-three" style="background-image:url(../assets/home/banner-counter.jpg);">
    <div class="container">
      <div class="row">


        <div class="count-area" data-diff="100">
          <div class="container">

            <div class="col-xl-9 mx-auto p-0">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <div class="count-area-content">
                    <div class="count-icon">

                      <div class="count-digit">30</div> +

                    </div>

                    <div class="count-title">Items curated weekly </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="count-area-content">
                    <div class="count-icon">
                      <div class="count-digit">40</div>
                      < </div>

                        <div class="count-title"> 40 minutes or less delivery time.</div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="count-area-content">
                      <div class="count-icon">
                        <div class="count-digit">7</div>
                      </div>

                      <div class="count-title"> Open 7 days a week </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>



        </div>
      </div>
  </section>


  <section class="sect-four">
    <div class="container">
      <h2>What our customers say:</h2>

      <div class="row justify-content-center align-items-center">

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 testm-det">

          <div class="testi-img">
            <img src="../assets/home/news1.jpg">
          </div>
          <h3>anonu88</h3>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <p>“Quick and Easy. Great prices, super fast delivery got my order in under thirty minutes. the delivery drive
            Juan gave me a coupon for next time as well. will be coming back for sure.”</p>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 testm-det">

          <div class="testi-img">
            <img src="../assets/home/news2.jpg">
          </div>
          <h3>Ricky W.</h3>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <p>“Fast and friendly. I called and asked for recommendations and the guy was really helpful. My delivery came
            quick and the driver was friendly and professional. Will keep coming back to Releaf Club!”</p>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 testm-det">

          <div class="testi-img">
            <img src="../assets/home/news3.jpg">
          </div>
          <h3>capt.koons</h3>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <p>“What a Releaf!!! Super easy to use website. Super fast delivery. Final price was like 30% less than Other
            places for the same brands / products…. My delivery guy lives local. I’ll definitely be supporting!”</p>

        </div>


      </div>
    </div>
  </section>

  <section class="gmap">
    <div id="map" style="width: 100%; height: 500px;"></div>
  </section>


  <section class="ftr-contact" style="background-image:url(../assets/home/banner-footer.jpg);">

    <div class="container">
      <div class="title-ft">
        <h2>Order Today</h2>
        <p>The more you support your favorite Releaf Club, the more we give back!</p>

      </div>

      <div class="col-xl-5 col-lg-6 col-md-12 mx-auto p-0 form-dv d-o">
        <a href="https://shop.releafclub.com/#/">ORDER NOW</a>
      </div>

      <div class="col-xl-5 col-lg-6 col-md-12 mx-auto p-0 form-dv d-o">
        <a href="tel://+13107158009">CALL US</a>
      </div>

    </div>

  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-12 cpy">
          <p>© 2020 Releaf Club | License: C12-0000165-LIC</p>
        </div>



      </div>
    </div>
  </footer>

  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <!-- Add this for map -->

  <script src="https://maps.google.com/maps/api/js?key=AIzaSyABma03OP8nr1l0jWJjOnDFm_Ru3eACFIM"
    type="text/javascript"></script>

  <!-- End this for map -->

  <script>
    AOS.init();

    function visible(partial) {
      var $t = partial,
        $w = jQuery(window),
        viewTop = $w.scrollTop(),
        viewBottom = viewTop + $w.height(),
        _top = $t.offset().top,
        _bottom = _top + $t.height(),
        compareTop = partial === true ? _bottom : _top,
        compareBottom = partial === true ? _top : _bottom;

      return ((compareBottom <= viewBottom) && (compareTop >= viewTop) && $t.is(':visible'));

    }

    $(window).scroll(function () {

      if (visible($('.count-digit'))) {
        if ($('.count-digit').hasClass('counter-loaded')) return;
        $('.count-digit').addClass('counter-loaded');

        $('.count-digit').each(function () {
          var $this = $(this);
          jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
            duration: 5000,
            easing: 'swing',
            step: function () {
              $this.text(Math.ceil(this.Counter));
            }
          });
        });
      }
    })



  </script>

  <!-- Script for google map -->

  <script type="text/javascript">
    var locations = [
      ['Hermosa Beach', 33.86914869990418, -118.39977512197538, 4],
      ['Manhattan Beach', 33.89120405649503, -118.39968345661586, 5],
      ['Redondo Beach', 33.86589024521337, -118.36873113697453, 3],
      ['Torrance', 33.83805423353217, -118.36467064169138, 2],
      ['El Segundo', 33.9219236437246, -118.41218578994425, 1],
      ['Palos Verdes Estates', 33.78423365087594, -118.41731815721128, 6],
      ['Rancho Palos Verdes', 33.75323764585454, -118.3771837420963, 7],
      ['Hawthorne', 33.9206362835052, -118.34692441833177, 8],
      ['Lawndale', 33.889028269868994, -118.35514615263956, 9]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(33.86914869990418, -118.39977512197538),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function (marker, i) {
        return function () {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

</body>

</html>